@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin:0;
    padding:0;
}
/* fonts awesome fonts import */


/* common stylesheet */
body{
    background: #FFFFFF;
}

/* header section style */
.header_section{
    width:1080px;
    height:600px;
    margin:50px auto;
    display: flex;
    justify-content: center;
    background-color: #000000;
    border-radius: 30px;
    box-sizing: border-box;
}

/* header left style */
.header_left{
    padding:110px 105px;
    padding-right: 20px;
}
.header_left_heading{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.header_left p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

/* header right style */
.header_right{
    width: 100%;
}
.header_right img{
    width: 100%;
}

/* live button */
.live_btn{
    display: inline-block;
    margin-top:20px;
    padding:10px 15px;
    border-radius: 6px;
    background-color: red;
    color: #FFFFFF;
}
.live_text{
    margin-right:5px;
}

/* blog style */
.blog{
    width:1080px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 312px 1fr;
    grid-column-gap: 15px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 130px;
}
.indirect_blog{
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    box-sizing: border-box;
    padding:30px;
}
.btn_match{
    display: block;
    width:100%;
    padding:17px;
    margin-top:30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
}
.btn_match:first-child{
    background-color: red;
    color: #ffffff;
    margin-top: 0;
}

/* Blog Match style */
.direct_blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.blog_match{
    border: 1px solid rgba(53, 52, 52, 0.123);
    border-radius:10px;
    /* box-shadow: 0px 1px 5px 1px rgba(0,0,0,1); */
    /* opacity: 0.5; */
}
.blog_match_thumbnail img{
    width:100%;
    border-radius: 5px 5px 0 0;
}
.blog_match_info{
    padding:20px;
}
.blog_match .blog_match_info>h3{
    padding:5px 10px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    border:1px solid black;
    display: inline-block;
    border-radius: 7px;
    margin-bottom: 15px;
}
.blog_match_info p{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    text-align: justify;
}

/* footer style */
footer{
    background-color: #161616;
    padding:0 100px;
}
footer h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    padding-top:130px;
    padding-bottom: 50px;
    border-bottom: 1px solid #dddddd1f;
}
.footer_menu{
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 130px;
    padding-top:50px;
}
.footer_menu a{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: rgb(185, 185, 185);
    margin-right: 40px;
    width: 146px;
    padding:10px 0;
    transition: all 0.3s ease 0s;
    background-color: rgba(148, 148, 148, 0.157);
    display: block;
    float: left;
}
.footer_menu a:last-child{
    margin-right:0;
}
.footer_menu a:hover{
    background-color: #8f8c8c4d;
    border-radius: 10px;
}
/* hr{
    margin: 0 auto;
    width:1080px;
    color: #ddd;
    padding-bottom: 50px;
} */
    
